h1{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    color: white;
}

.info{
    display: flex;
    justify-content: center;
}
.p-contacto{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 300px;
    padding: 40px;
}

.redes{
    display: flex;
    justify-content: center;

    lu{
        li{
            list-style: none;
            font-weight: 500px;

        }
    }

}
