.ilustraciones-conteiner{
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;

    .ilustracion:hover{
        transition: 0,5s;
        transform:translate(10px, 20px)
    }
    
    @media screen and (max-width: 730px) {
        .imag {
          width: 80%;
        }
      }
      
}


main{
    background-color: rgb(42, 59, 42);
}

.menu-principal{
display: flex;
justify-content: space-around;
color: black;
font-style: normal;
font-family: 'Courier New', Courier, monospace;
text-decoration: none;

.boton{
    width: 200px;
    border-radius: 20px;
    background-color: black;
    border-color:black;

}

@media screen and (max-width: 730px){
    .boton{
        width: 70%;
    }
}


.boton:hover{
    transform: scale(2);
    transition: 0,5;
}

.menu{
    text-decoration: none;
    color: white;
    width: 50px;
}

}

@media screen and (max-width: 600px){
    .menu{
        width: 20px;
        font-style: oblique;
    }
}

.texto-final{
    margin-top: 40px;
    margin-bottom: 30px;
    color:black;
    
}
